<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
#page-title    <title>Nome della Squadra</title>
    <link rel = "stylesheet" href="../../styles/squadra.css">
</head>
<body>

<div class="container">
#back-button    
    <div class="team-info">
        <div class="team-logo">
#team-logo            
        </div>
#name-header
    <div class="team-details">
        <h2>Staff Tecnico</h2>
        <div class="staff">
            <ul>
#staff-list                    
            </ul>
        </div>
        </div>
    </div>
    <div class="photo-players-container">
        <div class="team-photo">
#team-image    
        </div>
        <div class="players-container">    
            <h2>Giocatori</h2>
            <div class="players">
                <ul>
#players-list
                </ul>
            </div>
            <h2>Staff Tecnico</h2>
        <div class="staff">
            <ul>
#staff-list                    
            </ul>
        </div>
        </div>
    </div>

</div>

</body>
</html>